<h1>Create a new project!</h1>

<%= form_for @project do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :description %><br>
<%= f.text_area :description %><br>

<%= f.label :goal %><br>
<%= f.number_field :goal %><br>
<%= f.submit %>
<% end %>
